html {
  font-size: 16px;
  width: 100vw;
  cursor: default;
}

/* RASTER, GROSSE BEREICHE */

.content {
  overflow: hidden;
  max-width: 100vw;
}

.bereich_eins {
  width: 85%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 10vmin;
}

.raster_bereich_eins {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: repeat(6, 8.8rem);
  grid-template-areas:
    "reihe_eins reihe_eins"
    "reihe_zwei reihe_zwei"
    "reihe_drei reihe_drei"
    "reihe_vier reihe_vier"
    "reihe_fuenf reihe_fuenf"
    "reihe_sechs reihe_sechs";
}

/* SONGZEILEN GRUPPEN*/
.eins_song_zeile {
  grid-area: reihe_eins;
}

.zwei_song_zeile {
  grid-area: reihe_zwei;
}

.isinview .zwei_song_zeile{
  animation-name: bewegen_sz;
  animation-duration: 1s;
  animation-delay: 2s;
  animation-iteration-count: 1;
  animation-direction: normal;
  animation-timing-function: linear;
  animation-fill-mode: forwards;
  /* opacity: 0%; */
}

.zwei_song_zeile div {
  text-align: right;
}


/* ABSATZFORMATE */
/* Bereich 1 */

.strophe_titel {
  font-family: 'Source Sans Pro', sans-serif;
  font-style: italic;
  font-weight: 400;
  /* font-size: 16vw; */
  /* font-size: calc(1rem + 15vw); */
  font-size: 13.5rem;
  line-height: 0.7em;
  text-transform: uppercase;
  margin-bottom: 0.06em;
  padding: 0;
}


.strophe_titel_klein {
  font-family: 'Source Sans Pro', sans-serif;
  font-style: italic;
  font-weight: 400;
  /* font-size: 16vw; */
  /* font-size: calc(1rem + 15vw); */
  font-size: 8rem;
  text-transform: uppercase;
  margin-bottom: -0.15em;
  padding: 0;
}

.strophe_grundtext {
  font-family: 'Source Sans Pro', sans-serif;
  font-style: normal;
  font-weight: 300;
  /* font-size: calc(1rem + 3vw); */
  font-size: 4rem;
  line-height: 1em;
  margin: 0;
  padding: 0;
}




/* MEDIAQUERIES */
/* BP Desktop 1024px */
@media all and (max-width: 64em) {
  html {
    font-size: 12px;
  }

  /* BP 850px Mobile 640px */
  @media all and (max-width: 53em) {
    html {
      font-size: 5.5px;
    }

    .raster_bereich_vier {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      grid-template-rows: repeat(2, max-content);
      grid-row-gap: 2em;
      grid-template-areas:
        "aussen hart und"
        "innen ganz weich";
    }


    .raster_bereich_fuenf {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      grid-template-rows: repeat(7, auto);
      grid-row-gap: 1em;
      grid-template-areas:
        "werden werden"
        "kind_eins kind_zwei"
        "kind_drei kind_vier"
        "schon schon"
        "mann_eins mann_zwei"
        "mann_drei mann_vier"
        "geeicht geeicht";
    }

    /*
.und {
  justify-items: center;
} */
  }
