html {
  font-size: 16px;
  width: 100vw;
  cursor: default;
}

.progress-container {
  width: 100%;
  height: 2.5px;
  background: none;
  position: fixed;
  z-index: 100;
}

.progress-bar {
  height: 2.5px;
  background: #ea899a;
  width: 0%;
  z-index: 101;
}


/* RASTER, GROSSE BEREICHE */
.content {
  overflow: hidden;
  max-width: 100vw;
}

.schwarzer_block {
  background-color: black;
}

.bereich_eins, .bereich_drei, .bereich_sechs, .bereich_sieben {
  width: 85%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 10vmin;
}

.bereich_vier {
  width: 55%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 5vmin;
}

.raster_bereich_eins {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: repeat(6, 8.8rem);
  grid-template-areas:
    "reihe_eins reihe_eins"
    "reihe_zwei reihe_zwei"
    "reihe_drei reihe_drei"
    "reihe_vier reihe_vier"
    "reihe_fuenf reihe_fuenf"
    "reihe_sechs reihe_sechs";
}

.raster_bereich_zwei {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: repeat(3, auto);
  grid-column-gap: 10vw;
}

.raster_bereich_drei {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: repeat(2, 8.8rem);
  grid-template-areas:
    "reihe_eins reihe_eins"
    "reihe_zwei reihe_zwei";
}

.raster_bereich_vier {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: repeat(2, max-content);
  grid-template-areas:
    "aussen hart und . . ."
    ". . . innen ganz weich";
  justify-items: center;
}

.raster_bereich_fuenf {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(5, auto);
  grid-template-areas:
    "werden"
    "kind"
    "schon"
    "mann"
    "geeicht";
}

.raster_bereich_sechs {
  display: grid;
  grid-template-columns: 3fr 1fr;
  grid-template-rows: repeat(3, auto);
  grid-template-areas:
    "wann_ist ."
    "ein_mann_eins ."
    "ein_mann_zwei .";
}


/* SONGZEILEN GRUPPEN*/
.eins_song_zeile {
  grid-area: reihe_eins;
}

.zwei_song_zeile {
  grid-area: reihe_zwei;
}

.isinview .zwei_song_zeile {
  animation-name: bewegen_sz;
  animation-duration: 1s;
  animation-delay: 2s;
  animation-iteration-count: 1;
  animation-direction: normal;
  animation-timing-function: linear;
  animation-fill-mode: forwards;
  opacity: 0%;
}

.zwei_song_zeile div {
  text-align: right;
}

.drei_song_zeile {
  grid-area: reihe_drei;
}

.isinview .drei_song_zeile {
  animation-name: bewegen_sz;
  animation-duration: 1s;
  animation-delay: 3s;
  animation-iteration-count: 1;
  animation-direction: normal;
  animation-timing-function: linear;
  animation-fill-mode: forwards;
  opacity: 0%;
}

.vier_song_zeile {
  grid-area: reihe_vier;
}

.isinview .vier_song_zeile {
  animation-name: bewegen_sz;
  animation-duration: 1s;
  animation-delay: 4s;
  animation-iteration-count: 1;
  animation-direction: normal;
  animation-timing-function: linear;
  animation-fill-mode: forwards;
  opacity: 0%;
}

.vier_song_zeile div {
  text-align: right;
}

.fuenf_song_zeile {
  grid-area: reihe_fuenf;
}

.isinview .fuenf_song_zeile {
  animation-name: bewegen_sz;
  animation-duration: 1s;
  animation-delay: 5s;
  animation-iteration-count: 1;
  animation-direction: normal;
  animation-timing-function: linear;
  animation-fill-mode: forwards;
  opacity: 0%;
}

.sechs_song_zeile {
  grid-area: reihe_sechs;
}

.isinview .sechs_song_zeile {
  animation-name: bewegen_sz;
  animation-duration: 1s;
  animation-delay: 6s;
  animation-iteration-count: 1;
  animation-direction: normal;
  animation-timing-function: linear;
  animation-fill-mode: forwards;
  opacity: 0%;
}

.sechs_song_zeile div {
  text-align: right;
}

/* ABSATZFORMATE */
/* Bereich 1 */
.strophe_titel {
  font-family: 'Source Sans Pro', sans-serif;
  font-style: italic;
  font-weight: 400;
  /* font-size: 16vw; */
  /* font-size: calc(1rem + 15vw); */
  font-size: 13.5rem;
  line-height: 0.7em;
  text-transform: uppercase;
  margin-bottom: 0.06em;
  padding: 0;
}

.strophe_titel_klein {
  font-family: 'Source Sans Pro', sans-serif;
  font-style: italic;
  font-weight: 400;
  /* font-size: 16vw; */
  /* font-size: calc(1rem + 15vw); */
  font-size: 8rem;
  text-transform: uppercase;
  margin-bottom: -0.15em;
  padding: 0;
}

.strophe_grundtext {
  font-family: 'Source Sans Pro', sans-serif;
  font-style: normal;
  font-weight: 300;
  /* font-size: calc(1rem + 3vw); */
  font-size: 4rem;
  line-height: 1em;
  margin: 0;
  padding: 0;
}

/* Bereich 2 */
.maenner {
  font-family: "Titling Gothic FB Extd Bd";
  font-style: normal;
  font-weight: normal;
  font-size: 30vw;
  text-transform: uppercase;
  color: white;
  margin-left: -0.1em;
  opacity: 0%;
}

.isinview .maenner {
  animation-name: maenner_vergroessern;
  animation-duration: 0.5s;
  animation-delay: 1s;
  animation-iteration-count: 1;
  animation-direction: normal;
  animation-timing-function: linear;
  animation-fill-mode: forwards;
}

.raster_bereich_zwei :nth-child(2), .raster_bereich_zwei :nth-child(4), .raster_bereich_zwei :nth-child(6) {
  text-align: right;
}

.raster_bereich_zwei :nth-child(4) {
  margin-right: -0.1em;
}

.auszeichnung_fett {
  font-family: "Titling Gothic FB Extd Bd";
  font-style: normal;
  font-weight: normal;
  text-align: center;
  font-size: 15rem;
  line-height: 0.84em;
  text-transform: uppercase;
  color: white;
  margin-bottom: -0.068em;
}

.schon_als .strophe_titel {
  text-align: right;
}

/* Bereich 3 */
.sieben_song_zeile {
  grid-area: reihe_eins;
}

.isinview .sieben_song_zeile {
  animation-name: bewegen_sz;
  animation-duration: 1s;
  animation-iteration-count: 1;
  animation-delay: 1s;
  animation-direction: normal;
  animation-timing-function: linear;
  animation-fill-mode: forwards;
  opacity: 0%;
}

.acht_song_zeile {
  grid-area: reihe_zwei;
}

.isinview .acht_song_zeile {
  animation-name: bewegen_sz;
  animation-duration: 1s;
  animation-delay: 2s;
  animation-iteration-count: 1;
  animation-direction: normal;
  animation-timing-function: linear;
  animation-fill-mode: forwards;
  opacity: 0%;
}

.acht_song_zeile div {
  text-align: right;
}

.raster_bereich_drei div, .raster_bereich_fuenf div, .bereich_sechs div {
  color: white;
}

/* Bereich 4 */
.vertikal {
  font-family: 'Source Sans Pro', sans-serif;
  font-style: italic;
  font-weight: 400;
  font-size: 10vw;
  line-height: 0%;
  text-transform: uppercase;
  color: white;
  writing-mode: vertical-rl;
  transform: rotate(180deg);
}

.aussen {
  grid-area: aussen;
}

.isinview .aussen {
  align-self: flex-end;
  animation-name: aussen_runter;
  animation-duration: 0.7s;
  animation-delay: 1s;
  animation-iteration-count: 1;
  animation-direction: normal;
  animation-timing-function: linear;
  animation-fill-mode: forwards;
  opacity: 0%;
}

.hart {
  grid-area: hart;
}

.isinview .hart {
  align-self: flex-end;
  animation-name: aussen_runter;
  animation-duration: 0.7s;
  animation-delay: 1.7s;
  animation-iteration-count: 1;
  animation-direction: normal;
  animation-timing-function: linear;
  animation-fill-mode: forwards;
  opacity: 0%;
}

.und {
  grid-area: und;
}

.isinview .und {
  align-self: flex-end;
  animation-name: aussen_runter;
  animation-duration: 0.7s;
  animation-delay: 2.4s;
  animation-iteration-count: 1;
  animation-direction: normal;
  animation-timing-function: linear;
  animation-fill-mode: forwards;
  opacity: 0%;
}

.innen {
  grid-area: innen;
}

.isinview .innen {
  animation-name: innen_hoch;
  animation-duration: 0.7s;
  animation-delay: 3.1s;
  animation-iteration-count: 1;
  animation-direction: normal;
  animation-timing-function: linear;
  animation-fill-mode: forwards;
  opacity: 0%;
}

.ganz {
  grid-area: ganz;
}

.isinview .ganz {
  animation-name: innen_hoch;
  animation-duration: 0.7s;
  animation-delay: 3.8s;
  animation-iteration-count: 1;
  animation-direction: normal;
  animation-timing-function: linear;
  animation-fill-mode: forwards;
  opacity: 0%;
}

.weich {
  grid-area: weich;
}

.isinview .weich {
  animation-name: innen_hoch;
  animation-duration: 0.7s;
  animation-delay: 4.5s;
  animation-iteration-count: 1;
  animation-direction: normal;
  animation-timing-function: linear;
  animation-fill-mode: forwards;
  opacity: 0%;
}

/* Bereich 5 */
.werden_als .strophe_titel, .schon_als .strophe_titel, .geeicht .strophe_titel {
  margin-bottom: -0.043em;
}

.werden_als {
  grid-area: werden;
}

.kind {
  grid-area: kind;
  opacity: 0%;
  transition: all 1s ease;
}

.kind:hover {
  opacity: 100%;
}

.schon_als {
  grid-area: schon;
}

.mann {
  grid-area: mann;
  opacity: 0%;
  transition: all 1s ease;
}

.mann:hover {
  opacity: 100%;
}

.geeicht {
  grid-area: geeicht;
}

/* Bereich 6 */
.wann_ist {
  grid-area: wann_ist;
  opacity: 0%;
}

.isinview .wann_ist {
  animation-name: erscheinen;
  animation-duration: 1s;
  animation-delay: 0s;
  transform-origin: center;
  animation-iteration-count: 1;
  animation-direction: normal;
  animation-timing-function: linear;
  animation-fill-mode: forwards;
}

/* .raster_eins_bereich_sechs .wann_ist {
  opacity: 0%;
  animation-name: erscheinen;
  animation-duration: 1s;
  animation-delay: 0s;
  transform-origin: center;
  animation-iteration-count: 1;
  animation-direction: normal;
  animation-timing-function: linear;
  animation-fill-mode: forwards;
} */
.ein_mann_eins {
  grid-area: ein_mann_eins;
  opacity: 0%;
}

.isinview .ein_mann_eins {
  animation-name: erscheinen;
  animation-duration: 1s;
  animation-delay: 1s;
  transform-origin: center;
  animation-iteration-count: 1;
  animation-direction: normal;
  animation-timing-function: linear;
  animation-fill-mode: forwards;
}

.ein_mann_zwei {
  grid-area: ein_mann_zwei;
  opacity: 0%;
}

.isinview .ein_mann_zwei {
  animation-name: erscheinen;
  animation-duration: 1s;
  animation-delay: 2s;
  transform-origin: center;
  animation-iteration-count: 1;
  animation-direction: normal;
  animation-timing-function: linear;
  animation-fill-mode: forwards;
}

/* Bereich 7 */
.raster_bereich_sieben {
  display: grid;
  grid-template-columns: max-content max-content 1fr;
  grid-template-rows: auto;
  grid-column-gap: 5em;
  grid-template-areas:
    "spalte_eins spalte_zwei .";
}

.infos {
  grid-area: spalte_eins;
}

.song {
  grid-area: spalte_zwei;
}

p {
  color: white;
  font-family: 'Source Sans Pro', sans-serif;
  font-style: normal;
  font-weight: 300;
  font-size: 1.4rem;
  line-height: 1.3em;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: white;
}

a:hover {
  text-decoration: underline;
}

iframe {
  border: 0.05em solid white;
}

.top_button {
  display: flex;
  justify-content: flex-end;
  width: 95%;
}

img.jump-top {
  /*jump to top button*/
  width: 3rem;
  height: 3rem;
}


.top_button {
  animation-name: bounce_up;
  animation-duration: 1s;
  animation-iteration-count: infinite;
  animation-direction: normal;
  animation-timing-function: ease-in-out;
  animation-fill-mode: forwards;
}


/* SONSTIGES */
.kleiner_abstand {
  height: 2vw;
}

.abstand {
  height: 15vw;
}

.mittlerer_abstand {
  height: 45vw;
}

.grosser_abstand {
  height: 100vw;
}

/* ANIMATIONEN */
/* Animation SONGZEILEN */
@keyframes bewegen_sz {
  0% {
    transform: translate(0%, 100%);
    opacity: 0%;
  }

  50% {
    transform: translate(0%, 50%);
    opacity: 50%;
  }

  100% {
    transform: translate(0%, 0%);
    opacity: 100%;
  }
}

/* Animation M Ä N N E R */
@keyframes maenner_vergroessern {
  0% {
    transform: scale(0%);
    opacity: 0%;
  }

  50% {
    transform: scale(200%);
    opacity: 100%;
  }

  100% {
    transform: scale(100%);
    opacity: 100%;
  }
}

/* Animation aussen */
@keyframes aussen_runter {
  0% {
    transform: translate(0%, -100%);
    opacity: 0%;
  }

  50% {
    transform: translate(0%, -50%);
    opacity: 0%;
  }

  100% {
    transform: translate(0%, 0%);
    opacity: 100%;
  }
}

/* Animation innen */
@keyframes innen_hoch {
  0% {
    transform: translate(0%, 100%);
    opacity: 0%;
  }

  50% {
    transform: translate(0%, 50%);
    opacity: 0%;
  }

  100% {
    transform: translate(0%, 0%);
    opacity: 100%;
  }
}

/* Animation Kind Mann erscheinen_scale */
@keyframes erscheinen_scale {
  0% {
    opacity: 0%;
    transform: scale(0%);
  }

  50% {
    opacity: 100%;
    transform: scale(100%);
  }

  80% {
    opacity: 100%;
    transform: scale(100%);
  }

  100% {
    opacity: 0%;
    transform: scale(100%);
  }
}

/* Wann ist ein Mann ein Mann erscheinen */
@keyframes erscheinen {
  0% {
    opacity: 0%;
  }

  50% {
    opacity: 50%;
  }

  100% {
    opacity: 100%;
  }
}

/* Animation Top Button bounce_up */
@keyframes bounce_up {
  0% {
    transform: translate(0%, 0%);
  }

  50% {
    transform: translate(0%, 10%);
  }

  100% {
    transform: translate(0%, 0%);
  }
}

/* MEDIAQUERIES */
/* BP Desktop 1024px */
@media all and (max-width: 77em) {
  html {
    font-size: 14px;
  }
}

@media all and (max-width: 67em) {
  html {
    font-size: 12px;
  }
}

@media all and (max-width: 58em) {
  html {
    font-size: 10px;
  }

  /* BP 850px Mobile 640px */
  @media all and (max-width: 53em) {
    html {
      font-size: 8.5px;
    }

    .progress-container {
      height: 2px;
    }

    .progress-bar {
      height: 2px;
    }

    .bereich_vier {
      width: 35%;
      margin-left: auto;
      margin-right: auto;
      margin-top: 5vmin;
    }

    .raster_bereich_vier {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      grid-template-rows: repeat(2, max-content);
      grid-row-gap: 5em;
      grid-template-areas:
        "aussen hart und"
        "innen ganz weich";
    }
  }

  p {
    font-size: 16px;
  }
}

@media all and (max-width: 41em) {
  html {
    font-size: 7px;
  }

  .raster_bereich_sieben {
    display: grid;
    grid-template-columns: max-content max-content;
    grid-template-rows: auto;
    grid-column-gap: 4em;
    grid-template-areas:
      "spalte_eins spalte_zwei";
  }
}

@media all and (max-width: 34em) {
  html {
    font-size: 6px;
  }

  p {
    font-size: 14px;
  }
}

@media all and (max-width: 29em) {
  html {
    font-size: 4px;
  }

  p {
    font-size: 9px;
  }

  .auszeichnung_fett {
    font-size: 13rem;
}
